<div class="card" style="width: 20rem;">
  <img class="card-img-top" [src]="data.image" alt="Foto del {{name}}">
  <div class="card-block">
    <h4 class="card-title">{{ data.name | limitText: 6 }}</h4>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngIf="data.age" >Age: {{data.age}}</li>
      <li class="list-group-item">Type: {{data.type}}</li>
        <li class="list-group-item">Born: {{data.birthDate | date: formatDate}}</li>
        <li class="list-group-item">Color: {{color}}</li>
    </ul>
    <div class="text-center">
      <a href="#" class="btn btn-primary" (click)="delete($event)">Delete</a>
    </div>
  </div>
</div>
