
<!--animal-form></animal-form-->
<animal-form-reactive></animal-form-reactive>

<div class="card-deck">
    <animal highlight color="red" *ngFor="let animal of animals;" [data]="animal" (onDelete)="onDelete($event)"></animal>
</div>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals; let i = index; let odd = odd;" [class.impar]="odd" [class.par]="!odd">
      <td>{{i+1}}</td>
      <td>{{animal.name}}</td>
      <td>{{animal.age}}</td>
    </tr>
  </tbody>
</table>
